.page {
    font-family: Roboto,sans-serif;
}

.message {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

.time {
    text-align: center;
    font-weight: bold;
}